# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.vscode/
/.htmlhintrc
/client/__pycache__/
/client/.pytest_cache/
/programas
/pypi/mptc_pkg/__pycache__/
/pypi/mptc_pkg/build/
/pypi/mptc_pkg/dist/
/pypi/mptc_pkg/mclibre_python_testing_client.egg-info/
/server/__pycache__/
/server/.pytest_cache/
/tmp/
mclibre-python-testing.odt
.~lock.mclibre-python-testing.odt#